.article-content-theme {
    p {
        margin-top: 1.5rem;
        text-align: justify;
    }

    strong{
        color: #f3f0f0;
    }

    h2{
        letter-spacing: -0.025em;
        font-weight: 700;
        font-size: 1.875rem;
        line-height: 2.25rem;

        @media (min-width: 640px) {
            font-size: 2.15rem;
            line-height: 2.5rem;
        }
    }

    ul{
        list-style-type: disc;
        margin-left: 19px;

        li{
            margin-top: 0.8rem;
        }
    }

    pre code.hljs {
        display: block;
        overflow-x: auto;
        padding: 1em
    }

    code.hljs {
        padding: 3px 5px
    }

    .hljs {
        color: #eff;
        background: #272c31;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .hljs ::selection, .hljs::selection {
        background-color: #314549;
        color: #eff
    }

    .hljs-comment {
        color: #546e7a
    }

    .hljs-tag {
        color: #b2ccd6
    }

    .hljs-operator, .hljs-punctuation, .hljs-subst {
        color: #eff
    }

    .hljs-operator {
        opacity: .7
    }

    .hljs-bullet, .hljs-deletion, .hljs-name, .hljs-selector-tag, .hljs-template-variable, .hljs-variable {
        color: #d5a8f5
    }

    .hljs-attr, .hljs-link, .hljs-literal, .hljs-number, .hljs-symbol, .hljs-variable.constant_ {
        color: #f78c6c
    }

    .hljs-class .hljs-title, .hljs-title, .hljs-title.class_ {
        color: #ffcb6b
    }

    .hljs-strong {
        font-weight: 700;
        color: #ffcb6b
    }

    .hljs-addition, .hljs-code, .hljs-string, .hljs-title.class_.inherited__ {
        color: #c3e88d
    }

    .hljs-built_in, .hljs-doctag, .hljs-keyword.hljs-atrule, .hljs-quote, .hljs-regexp {
        color: #89ddff
    }

    .hljs-attribute, .hljs-function .hljs-title, .hljs-section, .hljs-title.function_, .ruby .hljs-property {
        color: #82aaff
    }

    .diff .hljs-meta, .hljs-keyword, .hljs-template-tag, .hljs-type {
        color: #e5af8f
    }

    .hljs-emphasis {
        color: #000000;
        font-style: italic
    }

    .hljs-meta, .hljs-meta .hljs-keyword, .hljs-meta .hljs-string {
        color: #ff5370
    }

    .hljs-meta .hljs-keyword, .hljs-meta-keyword {
        font-weight: 700
    }

    @media (min-width: 640px) {
        border: 1px solid #939393;
    }


    h2,h3,h4{
        margin-top: 2.5rem; !important;
        margin-bottom: 2.0rem; !important;
    }


    a:not(.tags_list) {
        color: rgb(251 191 36);
        font-weight: bold;
    }

    .tags_list {
        a {
            color: white;
            font-weight: bold;
        }
    }
}

.tag-description-theme{
    h2{
        font-size: 1.5rem; !important;
    }
}
