@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.logo_oatllo{
    font-size: 2rem; font-weight: 700; font-family: 'Montserrat', sans-serif; color: #ffffff
}

.jetbrains_text{
    font-family: 'JetBrains Mono', monospace;
}

.jetbrains_bg_color{
    background-color: #1e1f22;
}
.jetbrains_fill_color{
    fill: #1e1f22;
}
